<ion-view view-title="MetroBus App" ng-controller="AjaxCtrl">
  <ion-content class="padding">
    <center>
      <img class="logo" src="./img/ionic.png" alt="">
      <h2>Txeka</h2>
      <p>
        quase tudo na palma da sua mão</a>
      </p>
      <div class="row">
        <a ui-sref="dashboard.map" class="col">
          <div class="thumbnail" style="padding-top: .5em">
            <center style="font-size: 2.5em;">
               <i class="fas fa-bus-alt"></i>
            </center>
            <div class="caption">
              <h3>Transportes</h3>
            </div>
          </div>
        </a>
        <a href="#" class="col">
          <div class="thumbnail" style="padding-top: .5em">
            <center style="font-size: 2.5em;">
              <i class="fas fa-utensils"></i>
            </center>
            <div class="caption">
              <h3>Restaurantes</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="row">
        <a href="#" class="col">
          <div class="thumbnail" style="padding-top: .5em">
            <center style="font-size: 2.5em;">
              <i class="fas fa-store"></i>
            </center>
            <div class="caption">
              <h3>Lojas</h3>
            </div>
          </div>
        </a>
        <a href="#" class="col">
          <div class="thumbnail" style="padding-top: .5em">
            <center style="font-size: 2.5em;">
              <i class="fas fa-hotel"></i>
            </center>
            <div class="caption">
              <h3>Hotéis</h3>
            </div>
          </div>
        </a>
      </div>
    </center>
  </ion-content>
</ion-view>